* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-background-color: #1C1C1C;
  --digit-button-color: #505050;
  --function-button-color: #FF9500;
  --op-button-color: #D4D4D2;
  --calc-width: 500px;
}

body {
  background-color: var(--main-background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}